@import url("./bulma/css/bulma.css");

body {
    background-color: whitesmoke;
    font-size: 16px;
}

.envelope {
    width: 80%;
    margin-left: 10%;
    margin-top: 2rem;
}

.half-envelope {
    width: 80%;
    margin-left: 10%;
}

.white-column {
    background-color: white;
}

.gray-column {
    color: white;
    background-color: gray;
}

.gray-column > .title {
    color: white !important;
}

.gray-column > .subtitle {
    color: white !important;
}